@use "colors" as col;

/* Esto asegura que el DrawingArea reciba el color de Matugen */
.notch-drawing-area {
  color: col.$bg_color;
  margin: 0;
    padding: 0;
}

box.island {
  margin: 0;
    padding: 0;
  background-color: transparent;
  > box.content {
    background-color: col.$bg_color;
    padding: 10px 25px;
  }
}


box.left-island {
  > box.content {
    border-radius: 0 0 2rem 0;
  }
}

box.right-island {
  > box.content {
    border-radius: 0 0 0 2rem;
  }
}
